@page
@{
    ViewData["Title"] = "Չի գտնվել";
}

<section>
    <header>
        <h2>Վայ քու</h2>
    </header>
    <p>
        Հարգելի <a>&lt;blank&gt;</a>, էս ի՞նչ պատահեց։
    </p>
    <pre><code class="language-cs">{
    "error" : 404
    "errorText" : "Խնդրված էջը չի գտնվել, խնդրում ենք խնդրել <a asp-page="AboutUs">ուրիշ էջ</a>։"
}</code></pre>

</section>