@page
@{
    ViewData["Title"] = "Մեր մասին";
}

<section>
    <header>
        <h2>Մեր Մասին</h2>
    </header>
    <blockquote>
        <span id="https://bit.ly/3drRrZA" title="I AM BATMAN">&#x1f987;</span>
        It doesn't matter who we are what matters is our plan.
        <footer>
            <cite><a href="https://www.imdb.com/title/tt1345836/characters/nm0362766">Bane</a></cite>
        </footer>
    </blockquote>
</section>