@page
@{
    ViewData["Title"] = "Մեր մասին";
}

<section>
    <header>
        <h2>Մեր Մասին</h2>
    </header>
    <blockquote>
            <span id="https://bit.ly/3drRrZA" title="I AM BATMAN">&#x1f987;</span>
            It doesn't matter who we are what matters is our plan.
        <footer>
            <cite><a href="https://www.imdb.com/title/tt1345836/characters/nm0362766">Bane</a></cite>
        </footer>
    </blockquote>
</section>

<section>
    <header>
        <h2>Մեր թիմը</h2>
    </header>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="terminal-card hover-card">
                <div>
                    <h3>Աննա <a target="_blank" title="Anna Kournikova (named by its author as 'Vbs.OnTheFly Created By OnTheFly') was a computer worm written by 20-year-old Dutch student Jan de Wit – who called himself 'OnTheFly' – on February 11, 2001. It was designed to trick email users into opening a mail message purportedly containing a picture of the tennis player of the same name, while actually hiding a malicious program." href="https://en.wikipedia.org/wiki/Anna_Kournikova_(computer_virus)">"Kournikova"</a> Ղուկասյան</h3>

                    <p>
                        Աննան շատ ուժեղ հոտառություն ունի բիզնես դնելու։ Նա ունակ է շատ խիստ կրիտիկական վիճակում բացել կաֆե և ամիսներ շարունակ տակ տալ։
                        Էդքանը հերիք չի, կարանտինը սկսելուց առաջ նորից ներդրում անել ու նորից անհաջող։ Հիմա կաֆեն փակ ա։ Այս ամենը հաշվի առնելով, Աննային խնդրել ենք այս պրոեկտի մեջ ներդրում չանել։
                    </p>

                    <div class="team-social-links-container">
                        <a href="#">Facebook</a>
                        <a href="#">Twitter</a>
                        <a href="#">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="terminal-card">
                <div>
                    <h3>Արամ <a target="_blank" title="Commwarrior is a Symbian Bluetooth worm that was the first to spread via Multimedia Messaging Service (MMS) and Bluetooth.[1][2] The worm affects only the Nokia Series 60 software platform." href="https://en.wikipedia.org/wiki/Commwarrior">"Commwarrior"</a> Քոչարյան</h3>

                    <p>
                        Արամը շատ յուրահատուկ երկու հատկություն ունի․ առաջինը առնվազն մեկ անգամ կիրառում է ամեն իր ընդունված օֆիսում՝ իր աշխատանքի օրոք օֆիսը հասցնել փակվելուն:
                        Արամին խնդրել ենք, որ ուղղիղ կապվածություն չունենա այս գործընթացում։ Անվտանգության նկատառումներից ելնելով, իրեն պաշտոնապես չենք գրանցելու և աշխատավարձը կեղտոտ ենք տալու։ Երկրորդը՝ սիրում է իր շանը՝ Մունին։
                    </p>

                    <div class="team-social-links-container">
                        <a href="#">Facebook</a>
                        <a href="#">Twitter</a>
                        <a href="#">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="terminal-card">
                <div>
                    <h3>Բաբկեն <a target="_blank" title="Mydoom, also known as W32.MyDoom@mm, Novarg, Mimail.R and Shimgapi, is a computer worm affecting Microsoft Windows. It was first sighted on January 26, 2004. It became the fastest-spreading e-mail worm ever (as of January 2004), exceeding previous records set by the Sobig worm and ILOVEYOU, a record which as of 2019 has yet to be surpassed." href="https://en.wikipedia.org/wiki/Mydoom">"Mydoom"</a> Գևորգյան</h3>

                    <p>
                        Բաբկենը միշտ երազել ա թույն խաղ սարքող դառնա։ Բայց կյանքի ոլորանները նրան տարան տուֆտա կայքեր ստեղծելու ուղղությամբ։
                        Սեփական կարծիք չունի, չի էլ ուզում։ Չնայած էս վերջրս իրա մոտ ժխտման շրջանն ա սկսել։ Ինչ տեսնում ա՝ ժխտում ա։
                        Էս մեր ստրիմերի իդեան էլ էր ժխտում, ուզում էր սքռաթչով անենք։ Բաբկենը PhD չի անում, բայց սաղ PhD-ների կզցրած ունի։ Հա, նաև դեմ ա <a asp-route="AboutUs">այս էջը</a> դնելուն։
                    </p>

                    <div class="team-social-links-container">
                        <a href="#">Facebook</a>
                        <a href="#">Twitter</a>
                        <a href="#">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="terminal-card">
                <div>
                    <h3>Հայկ <a target="_blank" title="Kaspersky Lab (/kæˈspɜːrski/; Russian: Лаборатория Касперского, Laboratoriya Kasperskogo) is a multinational cybersecurity and anti-virus provider headquartered in Moscow, Russia[1] and operated by a holding company in the United Kingdom." href="https://en.wikipedia.org/wiki/Kaspersky_Lab">"Kaspersky</a>-<a target="_blank" title="Garry Kimovich Kasparov (Russian: Га́рри Ки́мович Каспа́ров, Russian pronunciation: [ˈɡarʲɪ ˈkʲiməvʲɪtɕ kɐˈsparəf]; born Garik Kimovich Weinstein,[2] 13 April 1963) is a Russian chess grandmaster, former world chess champion, writer, and political activist, whom many consider to be the greatest chess player of all time." href="https://en.wikipedia.org/wiki/Garry_Kasparov">Kasparov"</a> Գևորգյան</h3>

                    <p>
                        Հայկը գործազուրկ ա։ Նա հիմա փնտրում է աշխատանք՝ ցանկացած թվերի հիշելով հետաքրքրվող անձանց խնդրում ենք կապնվել նրա հետ։ Բացի դա, Հայկը կարողանում է մտքում շախմատ խաղալ և միշտ հաղթում է, քանի որ ոչ մեկս քայլերը չգիտի։
                    </p>

                    <div class="team-social-links-container">
                        <a href="#">Facebook</a>
                        <a href="#">Twitter</a>
                        <a href="#">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="terminal-card">
                <div>
                    <h3>Շուշան <a target="_blank" title="Facebook is an American online social media and social networking service based in Menlo Park, California and a flagship service of the namesake company Facebook, Inc." href="https://en.wikipedia.org/wiki/Facebook">"Facebook"</a> Քոչարյան</h3>

                    <p>
                        Շուշանը, հոգեբանության PhD ա անում։ Բայց ոնց որ ցանկացած հոգեբան Հայաստանում, նենց էլ Շուշանը SMM ա անում։
                        Գիտնականները դեռ վիճում են, սկզբում Շուշանն ա եղել, թե պանիկան։ Վայը տարել ա մատը փուշ մտնի, 3 հատ շտապ օգնություն կկանչի։
                        Ծրագրավորումից հեչ գլուխ չի հանում, բաց են որ Ձեր նամակները անպատասխան չեն մնա դա հաստատ, թե չէ ծրագրավորողների վրա հույս պետք չի դնել:
                    </p>

                    <div class="team-social-links-container">
                        <a href="#">Facebook</a>
                        <a href="#">Twitter</a>
                        <a href="#">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="terminal-card">
                <div>
                    <h3>Ռուբեն <a target="_blank" title="SQL Slammer[a] is a 2003 computer worm that caused a denial of service on some Internet hosts and dramatically slowed down general Internet traffic. It spread rapidly, infecting most of its 75,000 victims within ten minutes." href="https://en.wikipedia.org/wiki/SQL_Slammer">"Slammer"</a> Մուրադյան</h3>

                    <p>
                        Ռուբենը ահավոր զզվում ա front-end անելուց, բայց երբ հավեսը տալիս ա, շատ թույն բաները ա սարքում։
                        Ինքը միակ մարդն ա ում պատկանում ա vader-ի official gmail account-ը։ Ռուբենը նաև կարծում ա, որ
                        80կգ-ից թեթև մարդիկ սեփական կարծիքի իրավունք չունեն։
                    </p>

                    <div class="team-social-links-container">
                        <a href="#">Facebook</a>
                        <a href="#">Twitter</a>
                        <a href="#">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>