@page
@{
    ViewData["Title"] = "Կապ մեզ հետ";
}

<section>
    <header>
        <h2>Կապ մեզ հետ</h2>
    </header>
    <p>
        Հարգելի <a>&lt;blank&gt;</a>, մեզ հետ կապ հաստատելու համար, կարող ես օգտվել <a href="#contacts-list">ստորև ներկայացված կապի միջոցներից</a>։ Կամ ուղղակի միանալ մեր ստրիմերին և հարցը ուղղել ուղիղ մեզ։
    </p>
</section>

<section>
    <header>
        <h2 id="contacts-list">Ստորև ներկայացված կապի միջոցներ</h2>
    </header>
    <div class="row">
        <div class="col-md-9">
            <pre><code class="language-html">&lt;ul&gt;
    &lt;li&gt;&lt;a target=&quot;_blank&quot;, href=&quot;<a href="https://t.me/coderantine" target="_blank">https://t.me/coderantine</a>&quot;&gt;Telegram&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a target=&quot;_blank&quot;, href=&quot;<a href="https://discord.gg/sX8MV6" target="_blank">https://discord.gg/sX8MV6</a>&quot;&gt;Discord&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a target=&quot;_blank&quot;, href=&quot;<a href="https://m.me/coderantine" target="_blank">https://m.me/coderantine</a>&quot;&gt;Facebook Page&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a target=&quot;_blank&quot;, href=&quot;<a href="mailto:help@@coderantine.com">mailto:help@@coderantine.com</a>&quot;&gt;help[at]coderantine.com&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
        </div>
    </div>
</section>
