@page
@{
    ViewData["Title"] = "Ծրագրավորման կարանտին";
}

<section>
    <header class="rythm-medium">
        <div class="image-text-box">
            <img class="my-logo" src="~/img/logo-mini.png" />
            <h2 class="my-logo-text" id="attention">ՈՒՇԱԴՐՈՒԹՅՈՒՆ</h2>

        </div>
    </header>
    <p>
        Հարգելի <a>&lt;blank&gt;</a>, բարի գալուստ <strong>Codernatine</strong>՝ ծրագրավորման կարանտին։
        Քո <strong>անվտանգ</strong> ու հաճելի ծրագրավորման միջավայրը։
    </p>
</section>

<section>
    <header class="rythm-medium">
        <h2 id="our-goal">ՄԵՐ ՆՊԱՏԱԿԸ</h2>
    </header>
    <p>
        Քո անտվտանգությունը <strong>ամենակարևորն</strong> է մեզ համար։ Այնպես որ <a>#staythefuckhome</a>:
        Ծրագրավորման գիտելիքները քեզ կփրկեն ցանկացած ապոկալիպսիսից՝ իհարկե միմիայն քո ստեղծած աշխարհում։ Միացեք մեզ միասին ստեղծելու այն։
        Շատ <del>լուրջ մթնոլորտում</del> միասին կխոսենք <strong>ծրագրավորումից</strong>, կփիլիսոփայենք և իհարկե կծիծաղենք։ 
        Ամբողջ քոնթենթը հասանելի է բոլորին և ամբողջությամբ <strong><abbr title="Անվճար էլի :)">ազատ է</abbr></strong>:

    </p>

    <div class="row">
        <div class="col-md-6">
            <table>
                <caption>
                    Մեզ միանալու պարտադիր ապրանքների ցուցակ, 2020
                </caption>
                <thead>
                    <tr>
                        <th>Համար</th>
                        <th>Ապրանք</th>
                        <th>Քանակ (հատ)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>0</th>
                        <td>ԷՀՄ*</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Համացանց**</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Դիտարկիչ***</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Ցանկություն</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Ախտահանիչ միջոցներ</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Խունկ</td>
                        <td>42</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>Զուգարանի թուղթ</td>
                        <td>1/x</td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td>Կոֆեին</td>
                        <td>40 mg * t</td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>Հումորի զգացում</td>
                        <td>420</td>
                    </tr>
                </tbody>
            </table>
            <p>
                * &nbsp;&nbsp;| Էլեկետրոնային Հաշվիչ Մեքենա<br />
                ** &nbsp;| Ինտերնետ<br />
                *** | Բրաուզեռ<br />
                x &nbsp;&nbsp;| Մոտակա խանութում առկա քանակը<br />
                t &nbsp;&nbsp;| Ցանկացած պահ ժամանակում
            </p>
        </div>
        <div class="col-md-6">
            <pre><code class="language-cs">using System.Diagnostics;

namespace ConsoleApp1
{
    public class Program
    {
        public static void Main(string[] args)
        {
            LearnProgramming();
        }

        public static void LearnProgramming()
        {
            Process.Start(new ProcessStartInfo
            {
                FileName = "<a target="_blank" href="https://twitch.com/coderantine">https://twitch.com/coderantine</a>",
                UseShellExecute = true
            });
        }
    }
}</code><span class="il-version"><a title="Just ordinary link to Nerds page." asp-page="Nerds">IL</a></span></pre>
        </div>
    </div>


</section>

<section>
    <header class="rythm-medium">
        <h2 id="what-we-are-doing-now">Ի՞ՆՉ ԵՆՔ ԱՆՈՒՄ</h2>
    </header>
    <div class="terminal-timeline">
        <div class="terminal-card">
            <header>Angular, Node.js <abbr title="Լրիվ 0-ից սկսողների համար">LEVEL 0</abbr></header>
            <div>
                Միասին ստեղծելու ենք open source պրոյեկտներ, օգտագործելով ստորև գրված տեխնոլոգիաները։ Ստեղծելու ընթացքում, պատասխանելու ենք ձեր հարցերին, հետևելու ենք ձեր խորհուրդներին և ինչու չէ, դուք ինքներդ մասնկացելու եք ստեղծմանը։
                <ul>
                    <li>Angular</li>
                    <li>Node.js</li>
                    <li><a title="Mob programming (informally mobbing) is a software development approach where the whole team works on the same thing, at the same time, in the same space, and at the same computer." href="https://en.wikipedia.org/wiki/Mob_programming">Mob Programming</a></li>
                </ul>
                Կարդալով սա դուք համաձայնություն եք տալիս, որ անպայման միանալու եք մեզ։

                <div class="progress-bar progress-bar-show-percent">
                    <div id="confirm-progress-bar" class="progress-bar-filled" style="width: 42%"></div>
                </div>
                <div id="confirm-message" style="display: none;" class="terminal-alert terminal-alert-primary">Ձեր համաձայնությունը պահպանված է։</div>
            </div>
        </div>
        <div class="terminal-card">
            <header>Screeps MMO RTS <abbr title="Արդեն ծրագրավորման հիմունքները իմացողների համար">LEVEL 1</abbr></header>
            <div>
                <a href="https://screeps.com">Screeps</a>-ը օնլայն ստրատեգիա խաղ է, որտեղ քո structure-ներին ու unit-ներին կառավարում ես JavaScript կոդ-ի միջոցով։ Միասին գրելու ենք մեր bot-ի էկոնոմիկան, պաշտպանվելու և հարձակվելու ստրատեգիաները։ Միգուցե նաև կարանտինի մեթոդները։
                <div id="confirm-scroll-anchor"></div>
                <figure>
                    <img class="my-image" src="~/img/screeps.png" alt="Screeps խաղի նկար" title="Screeps խաղի նկար">
                    <figcaption>Նկար՝ Screeps խաղից</figcaption>
                </figure>

                Այս խաղի առանձնահատկություններից է նաև այն, որ ձեր գրած bot-ը գտնվում է նույն աշխարհում, որտեղ գտնվում են նաև ուրիշ ծրագրավորողների bot-երը։ Այնպես, որ մեր bot-ով փորձելու ենք գրավել Screeps-ի վիրտուալ աշխարհը։
            </div>
        </div>
        <div class="terminal-card">
            <header>C#, .net <abbr title="Արդեն ծրագրավորողների համար">LEVEL 2</abbr></header>
            <div>
                Մենք միշտ տարատեսակ նոր տեխնոլոգիաներ ենք փորձարկում։ Փոքր/մեծ open-source պրոյեկտներ անում։ Օրինակ՝ <a href="https://blazorapp2.com">BlazorApp2</a>:

                <figure>
                    <img class="my-image" src="~/img/blazorapp2.png" alt="BlazorApp2-ի նկար" title="BlazorApp2-ի նկար">
                    <figcaption>Նկար՝ BlazorApp2-ից</figcaption>
                </figure>

                Միասին կուսումնասիրենք .net աշխարհի տարբեկ անկյունները։
                <ul>
                    <li>WPF/UWP</li>
                    <li>.Net Core MVC</li>
                    <li>Razor Pages</li>
                    <li>Blazor</li>
                </ul>
            </div>
        </div>
        <div class="terminal-card">
            <header>undefined</header>
            <div>
                <div class="terminal-alert terminal-alert-error">500 Internal Server Error. Failed to load next event id <a title="Get the latest information from the World Health Organization about COVID-19." target="_blank" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">{COVID-19}</a>.</div>
            </div>
        </div>
    </div>
</section>

<section>
    <header class="rythm-medium">
        <h2>Սոցիալական Էջեր</h2>
    </header>
    <ul>
        <li><a title="Just ordinary github page. Nothing special here." href="https://github.com/Coderantine">Github</a></li>
        <li><a href="https://www.facebook.com/coderantine/">Facebook</a></li>
        <li><a href="https://twitch.com/coderantine">Twitch</a></li>
        <li><a href="https://discord.gg/sX8MV6">Discord</a></li>
    </ul>
</section>


@section Scripts {
    <script type="text/javascript" src="~/js/index.js"></script>
}