@page
@{
    ViewData["Title"] = "Փառքի պատ";
}

<section>
    <h2>ԽԻԶԱԽ ՃԱՄՓՈՐԴՆԵՐԸ</h2>

    <p>Այստեղ կգտնես, բոլոր ճամփորդներին ում հաջողվել է անցնել պորտալից այն կողմ</p>

    <pre><code class="language-html">&lt;ul&gt;
    &lt;li&gt;&lt;a target=&quot;_blank&quot;, href=&quot;<a href="https://github.com/babgev" target="_blank">https://github.com/babgev</a>&quot;&gt;Babken Gevorgyan&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</code></pre>

</section>