@page
@{
    ViewData["Title"] = "Wall of Glory";
}

    <section>
        <h2>Wall of Glory</h2>

        <p>
            We were working at night. On our page for nerds. After a huge energy blast portal to the underlying world was opened. If you are brave enough to accept the challenge, your adventure starts from that page.
        </p>

        <p>Meet all adventurers who were <del>brain</del> brave enough to go through portal.</p>

        <pre><code class="language-go">
    package main
    import "fmt"

    func main() {
    fmt.Println("<a href='https://github.com/babgev' target='_blank'>babgev</a>");
    fmt.Println("<a href='https://www.facebook.com/hayk.tpOo' target='_blank'>hayk.tpOo</a>");
    fmt.Println("<a href='https://www.linkedin.com/in/anna-tantushyan/' target='_blank'>anna.tantushyan</a>");
    fmt.Println("<a href='https://www.facebook.com/ArtakGaboyan/' target='_blank'>Արտակ Պաստաֆարիան Գաբոյան</a>");
    fmt.Println("<a href='https://github.com/babkenmes' target='_blank'>babkenmes</a>");
    fmt.Println("<a>&lt;blank&gt;</a>, this place is reserved for you!");
    }
</code><span class="il-version"><a target="_blank" href="https://play.golang.org/p/zZk42an3yxj">RUN</a></span></pre>

        

    </section>
